aiAgents/workflows-speaking/04_industry_association_scanner.json
{
  "name": "04 - Industry Association Scanner",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 15 * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Monthly 15th at 10 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "array": {
            "values": [
              {
                "name": "associations",
                "value": [
                  {"name": "National Restaurant Association", "url": "https://restaurant.org", "search": "NRA events speakers"},
                  {"name": "American Hotel & Lodging Association", "url": "https://ahla.com", "search": "AHLA conference speakers"},
                  {"name": "International Association of Venue Managers", "url": "https://iavm.org", "search": "IAVM speaking opportunities"},
                  {"name": "Hospitality Financial and Technology Professionals", "url": "https://hftp.org", "search": "HFTP events"},
                  {"name": "National Association of Catering and Events", "url": "https://nace.net", "search": "NACE conference"}
                ]
              }
            ]
          }
        }
      },
      "id": "set-associations",
      "name": "Define Target Associations",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Expand associations array into separate items so each is processed individually\nconst associations = $input.first().json.associations || [];\nreturn associations.map(a => ({ json: { ...a } }));"
      },
      "id": "expand-associations",
      "name": "Expand Associations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [550, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}/events",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 10000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "fetch-calendar",
      "name": "Get Association Event Calendar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Merge association data (from Expand) with HTTP response - preserve association for GPT\nconst association = $('Expand Associations').item.json;\nconst httpResponse = $input.first().json;\nconst body = typeof httpResponse.body === 'string' ? httpResponse.body : (httpResponse.data || httpResponse.text || JSON.stringify(httpResponse));\nreturn [{ json: { name: association.name, url: association.url, body: (body || '').substring(0, 10000) } }];"
      },
      "id": "merge-data",
      "name": "Merge Association + HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [950, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Extract upcoming events from association website HTML. Return JSON object with key 'events' containing array. Each event: name, date, location, cfp_deadline, speaker_link, expected_attendance, contact_name, contact_email, has_cfp, type."
            },
            {
              "role": "user",
              "content": "=Association: {{ $json.name }}\n\nHTML (first 10000 chars):\n{{ $json.body }}\n\nExtract all 2026 events with: Event name, Date, Location, CFP info, Event contact. Return JSON with 'events' array. No markdown."
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "responseFormat": "json_object"
        }
      },
      "id": "parse-calendar",
      "name": "Parse Event Calendar",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [1150, 300],
      "credentials": {
        "openAiApi": {"id": "openai-cred", "name": "OpenAI account"}
      }
    },
    {
      "parameters": {
        "jsCode": "// Get association from Merge node and GPT response from Parse\nconst association = $('Merge Association + HTML').item.json;\nconst parseOutput = $input.first().json;\nconst rawContent = parseOutput.message?.content || parseOutput.content || '{}';\nlet aiResponse = {};\ntry { aiResponse = typeof rawContent === 'string' ? JSON.parse(rawContent) : rawContent; } catch (e) {}\nconst events = aiResponse.events || [];\n\nif (events.length === 0) return [{ json: { _skip: true } }];\n\nconst associationName = association.name || 'Association';\nconst associationUrl = association.url || '';\n\nreturn events.map(event => ({\n  json: {\n    event_name: event.name || `${associationName} - Event`,\n    event_type: 'association',\n    industry: 'Hospitality',\n    event_date: event.date || '',\n    location: event.location || 'TBD',\n    format: (event.location || '').toLowerCase().includes('virtual') ? 'virtual' : 'in-person',\n    website: associationUrl,\n    cfp_deadline: event.cfp_deadline || 'Check website',\n    speaker_app_link: event.speaker_link || '',\n    past_speakers: '',\n    attendance: event.expected_attendance || 200,\n    audience_type: 'Association Members, Industry Leaders',\n    organizer_name: event.contact_name || '',\n    organizer_email: event.contact_email || '',\n    organizer_linkedin: '',\n    score: 0,\n    status: 'New - Association',\n    contacted_date: '',\n    last_activity: new Date().toISOString(),\n    response: '',\n    notes: `Association: ${associationName}. ${event.has_cfp ? 'CFP Available' : 'Direct contact needed'}`\n  }\n}));"
      },
      "id": "format-events",
      "name": "Format Event Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [
            {"id": "skip-check", "leftValue": "={{ $json._skip }}", "rightValue": true, "operator": {"type": "boolean", "operation": "notEquals"}}
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-skip",
      "name": "Filter Empty Results",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1550, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {"__rl": true, "value": "={{ $credentials.googleSheets.sheetId }}", "mode": "id"},
        "sheetName": {"__rl": true, "value": "Opportunities", "mode": "name"},
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "event_name": "={{ $json.event_name }}",
            "event_type": "={{ $json.event_type }}",
            "industry": "={{ $json.industry }}",
            "event_date": "={{ $json.event_date }}",
            "location": "={{ $json.location }}",
            "format": "={{ $json.format }}",
            "website": "={{ $json.website }}",
            "cfp_deadline": "={{ $json.cfp_deadline }}",
            "speaker_app_link": "={{ $json.speaker_app_link }}",
            "past_speakers": "={{ $json.past_speakers }}",
            "attendance": "={{ $json.attendance }}",
            "audience_type": "={{ $json.audience_type }}",
            "organizer_name": "={{ $json.organizer_name }}",
            "organizer_email": "={{ $json.organizer_email }}",
            "organizer_linkedin": "={{ $json.organizer_linkedin }}",
            "score": "={{ $json.score }}",
            "status": "={{ $json.status }}",
            "contacted_date": "={{ $json.contacted_date }}",
            "last_activity": "={{ $json.last_activity }}",
            "response": "={{ $json.response }}",
            "notes": "={{ $json.notes }}"
          }
        }
      },
      "id": "add-events",
      "name": "Add Association Events",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1750, 250],
      "credentials": {"googleSheetsOAuth2Api": {"id": "google-sheets-cred", "name": "Google Sheets account"}}
    }
  ],
  "connections": {
    "Monthly 15th at 10 AM": {"main": [[{"node": "Define Target Associations", "type": "main", "index": 0}]]},
    "Define Target Associations": {"main": [[{"node": "Expand Associations", "type": "main", "index": 0}]]},
    "Expand Associations": {"main": [[{"node": "Get Association Event Calendar", "type": "main", "index": 0}]]},
    "Get Association Event Calendar": {"main": [[{"node": "Merge Association + HTML", "type": "main", "index": 0}]]},
    "Merge Association + HTML": {"main": [[{"node": "Parse Event Calendar", "type": "main", "index": 0}]]},
    "Parse Event Calendar": {"main": [[{"node": "Format Event Data", "type": "main", "index": 0}]]},
    "Format Event Data": {"main": [[{"node": "Filter Empty Results", "type": "main", "index": 0}]]},
    "Filter Empty Results": {"main": [[{"node": "Add Association Events", "type": "main", "index": 0}]]}
  },
  "pinData": {},
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-02-15T00:00:00.000Z",
  "versionId": "2"
}
