aiAgents/workflows-seamlessly/02_contact_extraction_multi.json
{
  "name": "02 - Contact Extraction (Multi-Contact)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        },
        "options": {
          "timezone": "America/New_York"
        }
      },
      "id": "schedule-trigger",
      "name": "Daily at 10 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $credentials.googleSheets.sheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Seamlessly Pipeline",
          "mode": "name"
        },
        "options": {
          "range": "A:V",
          "useFirstRowAsHeaders": true,
          "returnAll": true
        },
        "filters": {
          "conditions": [
            {
              "fieldName": "status",
              "condition": "contains",
              "value": "New"
            }
          ]
        }
      },
      "id": "get-leads",
      "name": "Get New Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [450, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "website-check",
              "leftValue": "={{ $json.website }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-website",
      "name": "Check Website Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.website }}",
        "options": {
          "timeout": 10000,
          "allowUnauthorizedCerts": true
        }
      },
      "id": "fetch-website",
      "name": "Fetch Website HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 250]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an expert at extracting business contact information from websites. Extract ALL relevant decision-maker contacts for a B2B SaaS pitch (Seamlessly - hospitality tech platform). Look for: Owner, General Manager, Operations Director, Food & Beverage Director, Technology Director, IT Manager. Return ONLY valid JSON array with no markdown formatting."
            },
            {
              "role": "user",
              "content": "=Extract contact information from this HTML.\n\nVenue: {{ $json.business_name }}\nCategory: {{ $json.category }}\n\nFor each contact found, return:\n{\n  \"role\": \"owner|gm|operations|f&b|technology\",\n  \"name\": \"Full Name\",\n  \"email\": \"email@domain.com\",\n  \"phone\": \"optional\",\n  \"title\": \"exact title from site\"\n}\n\nPrioritize:\n- owner@, contact@, events@, info@, gm@, operations@\n- Avoid: noreply@, support@, marketing@\n\nHTML (first 8000 chars):\n{{ $json.body.substring(0, 8000) }}\n\nReturn array of contacts or empty array []. NO MARKDOWN."
            }
          ]
        },
        "options": {
          "temperature": 0,
          "responseFormat": "json_object"
        }
      },
      "id": "extract-contacts",
      "name": "Find All Decision Makers",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [1050, 250],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $json.message.content;\nlet contacts = [];\n\ntry {\n  const parsed = JSON.parse(aiResponse);\n  contacts = Array.isArray(parsed) ? parsed : (parsed.contacts || []);\n} catch (e) {\n  console.error('Failed to parse contacts:', e);\n  contacts = [];\n}\n\n// Prioritize contact roles\nconst rolePriority = {\n  'owner': 1,\n  'gm': 2,\n  'operations': 3,\n  'f&b': 4,\n  'technology': 5\n};\n\ncontacts.sort((a, b) => {\n  return (rolePriority[a.role] || 99) - (rolePriority[b.role] || 99);\n});\n\nconst leadData = $node[\"Get New Leads\"].json;\n\n// Take primary contact (highest priority)\nconst primaryContact = contacts[0] || {};\n\nreturn {\n  ...leadData,\n  email: primaryContact.email || '',\n  phone: primaryContact.phone || leadData.phone,\n  decision_maker_role: primaryContact.role || 'unknown',\n  status: contacts.length > 0 ? 'Contacts Found' : 'Manual Review',\n  last_activity: new Date().toISOString()\n};"
      },
      "id": "parse-contacts",
      "name": "Process Contact Array",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 250]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $credentials.googleSheets.sheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Seamlessly Pipeline",
          "mode": "name"
        },
        "columnToMatchOn": "business_name",
        "valueToMatchOn": "={{ $json.business_name }}",
        "values": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "phone": "={{ $json.phone }}",
            "decision_maker_role": "={{ $json.decision_maker_role }}",
            "status": "={{ $json.status }}",
            "last_activity": "={{ $json.last_activity }}"
          }
        }
      },
      "id": "update-contacts",
      "name": "Update Contact Info",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1450, 250],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $credentials.googleSheets.sheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Seamlessly Pipeline",
          "mode": "name"
        },
        "columnToMatchOn": "business_name",
        "valueToMatchOn": "={{ $json.business_name }}",
        "values": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "Manual Review - No Website"
          }
        }
      },
      "id": "mark-no-website",
      "name": "Mark for Manual Research",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [850, 350],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Daily at 10 AM": {
      "main": [
        [
          {
            "node": "Get New Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get New Leads": {
      "main": [
        [
          {
            "node": "Check Website Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Website Exists": {
      "main": [
        [
          {
            "node": "Fetch Website HTML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark for Manual Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Website HTML": {
      "main": [
        [
          {
            "node": "Find All Decision Makers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find All Decision Makers": {
      "main": [
        [
          {
            "node": "Process Contact Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Contact Array": {
      "main": [
        [
          {
            "node": "Update Contact Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
