aiAgents/workflows/06_follow_up.json
{
  "name": "06 - Follow-Up Manager",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 15 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily at 3 PM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $credentials.googleSheets.sheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads Pipeline",
          "mode": "name"
        },
        "options": {
          "range": "A:P",
          "useFirstRowAsHeaders": true,
          "returnAll": true
        },
        "filters": {
          "conditions": [
            {
              "fieldName": "status",
              "condition": "equal",
              "value": "Contacted"
            }
          ]
        }
      },
      "id": "get-contacted",
      "name": "Get Contacted Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [450, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fourDaysAgo = new Date();\nfourDaysAgo.setDate(fourDaysAgo.getDate() - 4);\n\nconst needsFollowUp = $input.all().filter(item => {\n  const contactedDate = new Date(item.json.contacted_date);\n  return contactedDate <= fourDaysAgo;\n});\n\nreturn needsFollowUp;"
      },
      "id": "check-timing",
      "name": "Check Follow-up Timing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "search",
        "query": "=from:{{ $json.email }} after:{{ $json.contacted_date }}",
        "options": {
          "maxResults": 1
        }
      },
      "id": "search-reply",
      "name": "Search for Reply",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [850, 300],
      "credentials": {
        "gmailOAuth2Api": {
          "id": "gmail-cred",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "reply-check",
              "leftValue": "={{ $json.messages ? $json.messages.length : 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-reply",
      "name": "Check Reply Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $credentials.googleSheets.sheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads Pipeline",
          "mode": "name"
        },
        "columnToMatchOn": "business_name",
        "valueToMatchOn": "={{ $node['Get Contacted Leads'].json.business_name }}",
        "values": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "Replied"
          }
        }
      },
      "id": "mark-replied",
      "name": "Mark as Replied",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1250, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Write a brief 2-sentence follow-up email. Keep it light and low-pressure. Just checking in. No pushiness."
            },
            {
              "role": "user",
              "content": "=Write a short follow-up to this email:\n\n{{ $node['Get Contacted Leads'].json.email_body }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "write-followup",
      "name": "Write Follow-up",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [1250, 400],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "to": "={{ $node['Get Contacted Leads'].json.email }}",
        "subject": "=Re: {{ $node['Get Contacted Leads'].json.email_subject }}",
        "emailType": "text",
        "message": "={{ $json.message.content }}"
      },
      "id": "send-followup",
      "name": "Send Follow-up Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1450, 400],
      "credentials": {
        "gmailOAuth2Api": {
          "id": "gmail-cred",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $credentials.googleSheets.sheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads Pipeline",
          "mode": "name"
        },
        "columnToMatchOn": "business_name",
        "valueToMatchOn": "={{ $node['Get Contacted Leads'].json.business_name }}",
        "values": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "Follow-up Sent"
          }
        }
      },
      "id": "update-followup",
      "name": "Update Follow-up Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1650, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Daily at 3 PM": {
      "main": [
        [
          {
            "node": "Get Contacted Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contacted Leads": {
      "main": [
        [
          {
            "node": "Check Follow-up Timing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Follow-up Timing": {
      "main": [
        [
          {
            "node": "Search for Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search for Reply": {
      "main": [
        [
          {
            "node": "Check Reply Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Reply Exists": {
      "main": [
        [
          {
            "node": "Mark as Replied",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Write Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Follow-up": {
      "main": [
        [
          {
            "node": "Send Follow-up Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Follow-up Email": {
      "main": [
        [
          {
            "node": "Update Follow-up Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}


